body {
  background-color: #83C441;
}

h1 {
  text-align: center;
}

h1 span {
  color: white;
}

h3 {
  text-align: center;
  /*color: white;*/
}

#addFriend {
  text-align: center;
}

li {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto 
}

ul {
  list-style-type: none;
}

#hypemlogo {
  width:40%;
  height: auto;
}

.eachFav {
  border: 3px black solid;
  border-radius: 25px;
  padding: 2%;
  font-size: 40px;
}

.renderedFavs img {
  width:40%;
  height: auto;
}

.eachFriend {
  border: 3px white solid;
  padding: 6px;
  margin-top: 5px;
  border-radius: 15px;
  display:inline;

}

.renderedFavs {
  overflow-y: auto;
  height: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}