body {
  background-color: #83C441;
}

h1 {
  background-color: #83C441;
  text-align: center;
}

h3 {
  text-align: center;
  background-color: #83C441;
}

#friends {
  /*text-align:center;*/
}

#addFriend {
  text-align: center;
}

li {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto 
}

ul {
  list-style-type: none;
}

#hypemlogo {
  width:40%; /* you can use % */
  height: auto;
}

.eachFav {
  border: 5px black solid;
  padding: 2%;
}

.eachFriend {
/*  border: 3px black solid;
  padding-bottom: 5px;*/
}



.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}